aria2c==1.37.0
asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
httpx
moviepy
natsort
opencv-python
Pillow
psutil
pytz
pyrofork==2.2.11
requests
tgcrypto
uvloop
yt-dlp
pymegatools
https://github.com/dbiesecke/yt-dlp-streamtape-plugins/archive/refs/heads/master.zip
git+https://github.com/alwaysmaysix/cloudscraper.git
google-colab-selenium[undetected]
